<div class="row text-center">
  <div class="col-md-12">
  <ol>
    <h4>Recent Activity For <%= current_user.nickname %></h4>
    <% @recent.each do |activity| %>
      <li><%= link_to activity.repo_name, activity.repo_url %>
      <% if activity.type == "PushEvent" %>
        - <%= activity.commit_message %></li>
      <% end %>
    <% end %>
  </ol>
</div>
</div>
